@media screen and (max-width: 700px) {
  .desktop{
    display: none;
  }
  .skills {
  margin-top: calc(var(--gutter) * -2);
  border-radius: var(--radius);
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:0.5rem;
  flex-direction: column-reverse;
  }

  .column {
  flex: 1;
  max-width: none;
  width: 100%;
}
}